body {
  background-color: #d3d3d3;
}

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-page .div {
  background-color: #d3d3d3;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.home-page .overlap {
  position: absolute;
  width: 390px;
  height: 1024px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.home-page .overlap-group {
  position: absolute;
  width: 308px;
  height: 106px;
  top: 40px;
  left: 36px;
  border: 1px solid;
  border-color: #d3d3d380;
}

.home-page .text-wrapper {
  position: absolute;
  top: 33px;
  left: 106px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .asstro-logo {
  position: absolute;
  width: 86px;
  height: 78px;
  top: 10px;
  left: 1px;
  object-fit: cover;
}

.home-page .overlap-2 {
  position: absolute;
  width: 308px;
  height: 624px;
  top: 166px;
  left: 36px;
  border: 1px solid;
  border-color: #d3d3d380;
}

.home-page .div-wrapper {
  position: absolute;
  width: 227px;
  height: 62px;
  top: 47px;
  left: 45px;
  background-color: #d9d9d9;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

.home-page .text-wrapper-2 {
  position: absolute;
  top: 11px;
  left: 87px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-3 {
  position: absolute;
  top: 150px;
  left: 115px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
  
}

.home-page .text-wrapper-4 {
  position: absolute;
  top: 230px;
  left: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-5 {
  position: absolute;
  top: 310px;
  left: 97px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .text-wrapper-6 {
  position: absolute;
  top: 391px;
  left: 90px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-3 {
  position: absolute;
  width: 369px;
  height: 1024px;
  top: 0;
  left: 1071px;
  background-color: #ffffff;
}

.home-page .text-wrapper-7 {
  position: absolute;
  width: 68px;
  top: 27px;
  left: 23px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .overlap-group-2 {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  position: absolute;
  width: 675px;
  height: 1024px;
  top: 0;
  left: 393px;
  background-color: #ffffff;
}

.home-page .text-wrapper-8 {
  position: absolute;
  top: 53px;
  left: 127px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #b3b3b3;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .rectangle {
  position: absolute;
  width: 590px;
  height: 3px;
  top: 135px;
  left: 43px;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.home-page .text-wrapper-9 {
  position: absolute;
  top: 151px;
  left: 43px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.home-page .prof-template {
  position: absolute;
  width: 52px;
  height: 50px;
  top: 40px;
  left: 43px;
  object-fit: cover;
}

.home-page .submit-input {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 49px;
  left: 594px;
  object-fit: cover;
}

.home-page .file-input {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 49px;
  left: 535px;
  object-fit: cover;
}

.home-page .image-input {
  position: absolute;
  width: 28px;
  height: 31px;
  top: 53px;
  left: 484px;
  object-fit: cover;
}

.home-page .timeline-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 36rem;
  height: 45rem;
  top: 35rem;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border: 1px solid;
}

.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popup-close {
  cursor: pointer;
}

.popup-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
}

.popup-button {
  padding: 10px;
  background-color: #1da1f2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}