body {
  background-color: #d3d3d3;
}

.user-page {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .user-page .div {
    background-color: #d3d3d3;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .user-page .overlap {
    position: fixed;
    width: 390px;
    height: 1024px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .user-page .overlap-group {
    position: absolute;
    width: 308px;
    height: 106px;
    top: 40px;
    left: 36px;
    border: 1px solid;
    border-color: #d3d3d380;
  }
  
  .user-page .text-wrapper {
    position: absolute;
    top: 33px;
    left: 106px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }

  .user-page .asstro-logo {
    position: absolute;
    width: 86px;
    height: 78px;
    top: 10px;
    left: 1px;
    object-fit: cover;
  }
  
  .user-page .overlap-2 {
    position: absolute;
    width: 308px;
    height: 624px;
    top: 166px;
    left: 36px;
    border: 1px solid;
    border-color: #d3d3d380;
  }
  
  .user-page .div-wrapper {
    position: absolute;
    width: 227px;
    height: 62px;
    top: 47px;
    left: 45px;
    background-color: #d9d9d9;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .user-page .text-wrapper-2 {
    position: absolute;
    top: 11px;
    left: 87px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-3 {
    position: absolute;
    top: 150px;
    left: 115px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-4 {
    position: absolute;
    top: 230px;
    left: 81px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-5 {
    position: absolute;
    top: 310px;
    left: 97px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-6 {
    position: absolute;
    top: 391px;
    left: 90px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
  }

  .user-page .overlap-3 {
    position: absolute;
    width: 369px;
    height: 333px;
    top: 0;
    left: 1071px;
    background-color: #ffffff;
  }

  .user-page .text-wrapper-7 {
    position: absolute;
    top: 20px;
    left: 23px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .user-page .user-followers-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 19rem;
    height: 15rem;
    top: 12rem;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid;
  }
  
  .user-page .overlap-4 {
    position: absolute;
    width: 369px;
    height: 687px;
    top: 337px;
    left: 1071px;
    background-color: #ffffff;
  }

  .user-page .user-trending-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 19rem;
    height: 35rem;
    top: 22rem;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid;
  }
  
  .user-page .text-wrapper-8 {
    position: absolute;
    top: 18px;
    left: 23px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .overlap-group-2 {
    position: absolute;
    width: 675px;
    height: 1024px;
    top: 0;
    left: 393px;
    background-color: #ffffff;
  }
  
  .user-page .rectangle {
    position: absolute;
    width: 590px;
    height: 3px;
    top: 399px;
    left: 43px;
    background-color: #d3d3d3;
    border-radius: 5px;
  }
  
  .user-page .overlap-5 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
  }
  
  .user-page .text-wrapper-9 {
    position: absolute;
    top: 8rem;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-10 {
    position: absolute;
    top: 11rem;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .image-2 {
    width: 136px;
    height: 136px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
  }
  
  .user-page .text-wrapper-11 {
    position: absolute;
    top: 355px;
    left: 81px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-12 {
    position: absolute;
    top: 17rem;
    left: 11rem;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-13 {
    position: absolute;
    top: 17rem;
    left: 25rem;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .p-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 2rem;
    margin-top: 5rem; 
    margin-left: 9rem;
  }
  
  .user-page .p {
    text-align: center;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #d3d3d3;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: normal;
    margin: 0; 
  }
  
  .user-page .text-wrapper-14 {
    position: absolute;
    top: 355px;
    left: 231px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .post-replies {
    position: absolute;
    top: 355px;
    left: 344px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .user-page .text-wrapper-15 {
    position: absolute;
    top: 355px;
    left: 532px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .user-page .user-posts-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 36rem;
    height: 30rem;
    top: 45rem;
    left: 50%; 
    transform: translate(-50%, -50%); 
    border: 1px solid;
  }

  